/* Main view */
#mainToolBar,
#instanceToolBar,
#statusBar,
#newsToolBar {
  border: 0;
}
/* */

/* Settings view */
/* */

/* Buttons */
/* */

/* Toolbar mover */
QObject::handle {
  margin: 2px;
  background-color: #5b9bf8;
  color: #030303;
}
/* */
