@define-color background #212121;
@define-color txt #fafafa;
@define-color foreground #f44336;
@define-color accent #f44336;
@define-color l-background #242424;

.notification {
  background: @l-background;
  color: @txt;
  border-radius: 0px;
  opacity: 1;
  padding: 16px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.summary {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  color: @accent;
}

.body {
  color: @txt;
  font-size: 11px;
}

.notification-default-action:hover {
  background: @l-background;
}

.close-button {
  background: @accent;
  color: @background;
  text-shadow: none;
  padding: 0;
}

.notification-group {
  background-color: transparent;
  border-radius: 10px;
}

.control-center {
  opacity: 1;
  background: @background;
  border-radius: 0px;
  max-height: 900px;
  min-height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 650px;
  min-width: 650px;
  padding: 16px;
}
