@define-color txt #eff1f5;
@define-color l-blue #8caaee;
@define-color l-purple #ca9ee6;
@define-color l-red #ea999c;
@define-color l-green #a6d189;
@define-color l-yellow #e5c890;
@define-color l-orange #ef9f76;
@define-color l-pink #f4b8e4;
@define-color l-teal #81c8be;
@define-color d-purple #8839ef;


*{
    font-family:"JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight:bold;
    min-height : 0;
    padding: 0px;
    margin: 0px;
    background : transparent;
}

window#waybar {
    background-color: #11111b;
}
#workspaces button {
    color: @txt;
    margin: 7px 3px;
}
#workspaces button.active {
    font-weight: 900;
    color: @l-purple;
    border-radius : 0px;
    margin: 7px 3px;
    border-bottom: 2px solid @l-purple ;
}
tooltip {
  background: #11111b;
  color: @txt;
  border: none;
  padding: 4px;
  border-radius: 0px;
}
#pulseaudio {
    color: @txt;
    padding: 0px 3px;
    margin: 2px 5px;
}
#bluetooth {
    color: @txt;
    padding: 0px 3px;
    margin: 2px 5px;
}
#clock { 
    color: @l-red;
    padding: 0px 3px;
    margin: 7px 3px;
    border-bottom: 2px solid @l-red ;
    margin-right: 7px;
}
#battery { 
    color: @l-green;
    padding: 0px 3px;
    margin: 7px 3px;
    border-bottom: 2px solid @l-green ;
}
#custom-shutdown {
    color: @txt;
    padding: 0px 3px;
    margin: 5px 5px;
}
#custom-nixos {
    color: @l-purple;
    padding: 0px;
    font-size: 24px;
    margin: 0px 5px;
    margin-left: 7px;
}
#custom-notifications {
    color: @txt;
    padding: 0px 3px;
    margin: 5px 5px;
}
#custom-kernel {
    color: @l-pink;
    border-bottom: 2px solid @l-pink ;
    padding: 0px 3px;
    margin: 7px 3px;
}
#custom-seperator {
    color: @txt;
    padding: 0px 3px;
    margin: 7px 3px;
}
#memory { 
    color: @l-green;
    border-bottom: 2px solid @l-green ;
    padding: 0px 3px;
    margin: 7px 3px;
}
#custom-b-left {
    color: @txt;
    padding: 0px 3px ;
    margin: 5px 5px;
}
#custom-b-right {
    color: @txt;
    margin-left: 7px;
    padding: 0px 3px;
}
