configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "JetbrainsMono Nerd Font Medium 10";
  modi: "window,run,drun";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "/dev/null"

* {
  background-l2: #2c2c2c;
  background-l0: #121212;
  background-l1: #212121;
  accent: #f44336;

  txt: #fafafa;
  txt-alt: #a0a0a0;

  background-color: @background-l1;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 35%;
  padding: 18;
  background-color: @background-l0;
  //border-radius: 40;
}

element {
  padding: 12;
  text-color: @txt-alt;
  margin: 10;
  //border-radius: 20;
}

element selected {
  text-color: @txt;
  margin: 10;
  background-color: @background-l2;
  //border-radius: 20;
}

element-text {
  background-color: inherit;
  text-color: inherit;
  vertical-align: 0.5;
}

element-icon {
  size: 30;
}

element-icon selected {
  size: 30;
  background-color: @background-l2;
}

entry {
  padding: 12;
  text-color: @txt;
  background-color: @background-l1;
}

inputbar {
  children: [prompt, entry];
  margin: 0 0 18 0;
  //border-radius: 20;
}

listview {
  columns: 2;
  lines: 7;
  //border-radius: 20;
}

mainbox {
  children: [inputbar, listview];
  background-color: @background-l0;
}

prompt {
  enabled: true;
  padding: 12 0 0 12;
  background-color: @background-l1;
  text-color: @txt;
}
